:root {
  --radical-light-color: rgba(33, 150, 243, 1);
  --primery-item-color: #757575;
  --internal-light-dark: #ffffff;
  --permanent-color: rgba(255, 255, 255, 0.6);
  --sky-blue-bg-color: #188CE8;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  list-style-type: none;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;

}
body {
  font-family: Roboto, sans-serif;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}

/* Шрифт для логотипа */
.logo .bluecolor {
color: #2196F3;
}
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.logo {
  color: black;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
/* Add blue color for style focus */
.logo:focus {
  color: #080545;
}
/* Шрифт навигации */
.site-nav .item-1 > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(33, 150, 243, 1);
  transition-timing-function: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/* Add ps-style focus for item1 */
.site-nav .item-1 a:focus {
  color: #2196f3;
  transition-timing-function: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/* Шрифт навигации */
.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Add ps-style hover and active for nav unit */

.site-nav .item-1 .link:hover,
.site-nav .item-1 .link:active {
  color: #2196f3;
}
.site-nav .link:hover,
.site-nav .link:active {
  color: #2196f3; 
}
.site-nav .link:focus {
  color: #080545;
}
.list .list-tel:hover {
color: #2196F3;


}
.list .e-mail:hover {
color: #2196F3;  
color: #080545;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.second-site-unit .e-mail:hover {
color: rgba(33, 150, 243, 1);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.second-site-unit .list-tel:hover  {
color: rgba(33, 150, 243, 1);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.second-site-unit .e-mail:hover .icon-mail {
fill: var( --radical-light-color);
}
.second-site-unit .list-tel:hover .icon-phone {
fill: var( --radical-light-color);
}

/* Дополнительная навигация */
.e-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition-property: color, fill;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 50px;
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition-property: color, fill;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
/* ICONS SVG HEADER */
.e-mail .icon-mail {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  vertical-align: middle;
}

.icon-mail {
position: absolute;
top: 0;
left: -39px;
margin: 0;
padding: 0;
width: 12px;
height: 16px;
fill: rgba(117, 117, 117, 1);
}

.mail .list-mail {
    fill: rgba(117, 117, 117, 1);
    left: -25px; 
    position: absolute;
    vertical-align: middle;
    top: 1px;
    margin: 0;
    padding: 0;
    width: 16px;
    max-height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
top: 0;
left: -20px;
margin: 0;
padding: 0;
position: absolute;
width: 10px;
height: 16px;
vertical-align: middle;
fill: rgba(117, 117, 117, 1);
}
.net-menu .item  .icon-mail:hover {
fill: #2196f3; 
}
.icon-phone:hover {
fill: #2196f3;
}
.mail .list-mail:hover {
fill: #2196f3;
}
.item .list-tel svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Add style focus for adittional block */
.list-tel .tittle:focus,
.e-mail:focus {
  color: #080545;
}
.net-menu .list-tel:hover {
  color: var(--radical-light-colorr);
}

h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* Дополнительная навигация */
.tittle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--radical-light-colorr);
}
.list .list-tel {
 
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  line-height: 1.14;                      
  letter-spacing: 0.02em;
  transition-property: color, fill;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list .mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;   
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .list .e-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;   
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*Add a ps-style focus for adittional block */
.aside .tel:focus {
  color: #2196f3;
}
/* The beginning of the main content */

.caption h1,
h2,
h3 {
  color: #212121;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* letter-spacing */
.caption h2,
h3, h4 {
  letter-spacing: 0.03em;
}
h4 {
font-size: 36px;
font-weight: 700;
text-align: center;
line-height: 1.17;
font-style: normal;
}
.caption p {
  letter-spacing: 0.03em;
}

/*Color page*/
.inner-section {
  margin-top: 94px;
}
.wrapper {
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url("../images/img-overlay.svg");
}
/*Color page*/
.container-hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header-1 */
.wrapper .first-unit {
  display: flex;
  word-wrap: break-word;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff; 
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */
.wrapper .btn {
  width: 200px;
  height: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  background-color: var(--radical-light-color);
  list-style: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: block;
  padding-bottom: 210px;
}

/* "List" */
.activity-list .items p {
  width: 270px;
  height: 75px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.activity-list .items h3 {
  width: 270px;
  height: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: left;
}
.section .activity-list .item-1 {
  color: var(--primery-item-color);
 
}
.activity-list .items {
  max-width: 270px; 
  margin-right: 30px;
}
.activity-list .items:last-child {
  margin-right: 0px;
}
.section .subtitle-1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
}
.section .subtitle-2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}
.section .workers-team .team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}
.section .desc {
  font-family:Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* The beginning of the Footer */
.basement {
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding-top: 60px; 
  padding-bottom: 60px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}
/* Шрифт к футтеру logo*/
.logotype .site-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.93;
  color: #2196f3;
}

.basement .centering {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.93;
  color: white;
}
/* Значение в адресе */
.contact-details {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;

}
.info .link-mail {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.basement .info .no-italic {
  font-style: normal;
}
.basement .info .title-link {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}


/* Start flexbox model */
  .icon-client > h2 {
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  font-style: normal;
  margin-bottom: 50px;
  color: rgba(33, 33, 33, 1);
  }
  .customers-of-companies {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  }
 .area {
  margin-top: 94px;
  margin-bottom: 94px;
 }
 img {
  display: block;
  padding: 0px;
  margin: 0px;
 }
 .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.our-community {
  padding-top: 94px;
  padding-bottom: 94px;
}
.f-section {
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: 1600px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.bussines-box {
 margin-left: auto;
 margin-right: auto;
 background-color: #F5F4FA;
 margin-bottom: 94px;
}
.head-container {
  display: flex;
  align-items: baseline;
}
.first-site-unit {
  display: flex;
  justify-content: flex-end;
}
.second-site-unit {
  display: flex;
  margin-left: auto;
  justify-content: baseline;
}
.second-site-unit li {
  display: flex;
  align-items: baseline;
}
.nav-container  {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  align-items: baseline;
}
.box {
 display: flex; 
 align-items: baseline;
}
/* Margin for header */
.nav-container .page-for-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.link-1 {
  transition-property: background-color;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.second-site-unit .contact {
 display: flex;
 align-items: baseline;
 transition-property: color;
 transition-duration: 250ms ;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.second-site-unit > .contact-1 {
 display: flex;
 align-items: center;
 justify-content:baseline;
 vertical-align: middle;
 transition-property: color;
 transition-duration: 250ms ;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Add ident for li */
.second-site-unit li {
  margin-right: 50px;
}
.second-site-unit li:last-child {
  margin-right: 0px;
}
/* Start wrapper padding */
.wrapper .button {
padding: 0px;
margin: 0px;
display: inline-block;
margin-left: auto;
margin-right: auto;
transition-property: background-color;
 
}
/* hidden h2 */
.sub-title {
  visibility: hidden;
}
.title .activity-list {
    display: block;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.activity-list {
display: flex;
}
 /* ADD PICTURES SVG */
.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  text-decoration: none;
}
.pic-1 {
width: 70px;
height: 70px;
}
.pic-1 use {
width: 100%;
height: 100%;
}
.list-employee img {
  width: 270px;
  height: 260px;
}
/* Creat a flex container H2 our team */
.list-employee .card .link-to-networks {
  display: flex;
  width: 100%;
}
 /* ADD ICONS SVG */  /* ADD ICONS SVG */
.networks {
  width: 20px;
  height: 20px;
}
ul {
list-style-type: no;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 0px;
}
.link-to-networks .icon-svg .networks:hover {
  fill: rgba(255, 255, 255, 1);
}
.icon-svg:hover .networks {
 fill: rgba(255, 255, 255, 1); 
}
.icon-svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  list-style:none;
  border-radius: 50%;
  flex-wrap: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-to-networks li {
  margin-right: 10px;
}
.link-to-networks li:nth-last-child(-n+1) {
  margin-right: 0px;
}
/* .Customers our studio*/
.section .customers {
  display: flex;
}
 .customers .figure:hover{
  border: 1px solid rgba(33, 150, 243, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section .customers li:hover .figure svg {
  fill: rgba(33, 150, 243, 1);
}
.section .customers li:hover {
  border: rgba(33, 150, 243, 1);
}

.figure  svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
 .figure {
  width: 192px;
  height: 72px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  text-decoration: none;
  border: 1px solid #AFB1B8;
}

.customers{
  margin: 0;
  padding: 0;
  list-style-type: none;
} 
.customers ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;  
}
.customers > li {
 flex-basis: calc((100%-150px)/6);
 margin-right: 30px;
}
.customers > li:nth-last-child(-n+1) {
  margin-right: 0px; 
}



.company {
  width: 106px;
  height: 60px; 
  fill:rgba(175, 177, 184, 1);
}
.company-2 {
  width: 106px;
  height: 60px; 
  fill:rgba(175, 177, 184, 1);
}
.company-3 {
  width: 106px;
  height: 60px;
  fill:rgba(175, 177, 184, 1);
}
.company-4 {
  width: 106px;
  height: 60px; 
  fill:rgba(175, 177, 184, 1);
}
.company-5 {
  width: 106px;
  height: 60px;
  fill:rgba(175, 177, 184, 1);
}
.company-6 {
  width: 106px;
  height: 60px;
  fill:rgba(175, 177, 184, 1);
}
/* Footer */

.container p {
font-style: normal;
font-family: Roboto, sans-serif;
font-weight: 700; 
font-size: 14px;
line-height: 1.17;
letter-spacing: 0,3em;
color: #ffffff;
}

.list-employee a:hover {
  background-color: #2196f3;
}
.bottom-list-icon a:hover {
   background-color: #2196f3;
}

/* Icon for footer */         /* Icon for footer */
.block {
  display: flex;
  align-items: baseline;
}
.block .division-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  flex-basis: calc((100% - 93px)/3);
  margin-right: 93px;
}
.block .division-block:last-child {
  margin-right: 0px;
}
.container .contact {
  margin-right: 0px;
}
.block .division-block:first-child {
  margin-right: 70px;
}
.link-icon img {
  display: block;
  position: relative;
}
.below-icons {
  width: 20px;
  height: 20px;
  position: absolute;
  fill: rgba(255, 255, 255, 1);
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.link-icon {
  display: inline-flex;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style:none;
  border-radius: 50%;
  margin-bottom: 30px;
  flex-wrap: nowrap;
  margin-top: 30px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-4 {
  margin-right: 0px;
}
.bottom-list-icon li a {
  margin-top: 20px;
  margin-bottom: 0px;
}
.block-icon .text {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,72; 
text-transform: uppercase;
}
.form .text-two {
padding: auto;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,72; 
text-transform: uppercase;
}
.block .block-icon .bottom-list-icon {
  display: flex;
  flex-direction: row;
}
/* Input footer*\ style */
 .area-mail {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  border-radius: 4px;
  margin-right: 12px;
  margin-top: 20px;
}
.sign-up:hover {
box-shadow: 0px 4px 4px 0px #00000026;
}
.sign-up {
  padding: 0;
  margin-top: 20px;
  width: 200px;
  max-height: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  background-color: var(--radical-light-color);
  list-style: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  flex-wrap: nowrap;
  letter-spacing: 0.06em;
}
.telegram-icon {
  padding: 0;
  margin:0 ;
  vertical-align: middle;
  max-width: 24px;
  max-height: 50px;
  
}
.string {
  display: flex;
}
.picture img {
  position: relative;
}
/* HOVER FOR ICONS */



.block-list {
  display: flex;
  flex-direction: column;
}

.worker-list {
  display: flex; 
}

.worker-list .picture {
  display: block;
  flex-basis: calc((100%-60px)/3);
  margin-right: 30px;
}
.worker-list .picture:last-child {
  margin-right: 0px;  
}
.picture figure {
    border: thin #c0c0c0 solid;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    max-width: 370px;
    margin: auto;

}
.worker-list span {
  width: 205px;
  height: 16px;
  font-weight: 700; 
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  font-family: Roboto, sans-serif;
}
figcaption {
    position: absolute;
    display: block;
    margin-top: 224px;
    min-width: 370px;
    max-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: rgba(255, 255, 255, 1);
    padding: 26px 0;
    text-align: center;
}
/* .worker-list .picture__desctop::after {
  displ.ay: block;
  min-width: 270px;
  max-height: 70px;
  bottom: -50px;
  z-index: -1;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
  content: "ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ"; 
  text-align: center;
}
.worker-list .picture__mobile::after {
  display: block;
  min-width: 270px
  height: 70px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
  content: "МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ"; 
  text-align: center;
}
.worker-list .picture__design::after {
  display: block;
  min-width: 270px
  min-height: 70px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
  content: "ДИЗАЙНЕРСКИЕ ПРИЛОЖЕНИЯ"; 
  text-align: center;
} */
.bussines-box .container .workers-team .link-to-networks  {
 display: flex;
 align-items: center;
 justify-content: center;
}
.link-to-networks li a {
  fill: rgba(175,177,184,1);
}
.link-to-networks svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subtitle-1 {
text-align: center;
margin-bottom: 50px;
}
.subtitle-2{
  text-align: center;
  margin-bottom: 50px;
}
.workers-team {
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.card {
box-shadow: 0px 2px 1px 0px #00000033;
background-color: #ffffff;
width: 270px;
padding: 30px 0;
}
.workers-team > .list-employee {
  flex-basis: calc((100%-90px)/4);
  margin-right: 30px;
}
.workers-team > .list-employee:last-of-type {
  margin-right: 0px;  
}
p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.list-employee > .team {
padding-top: 30px;

}
.info .contact-details {
  margin-top: 20px;
  margin-bottom: 9px;
  width: 231px;
  height: 21px;
}
/* START PORTFOLIO PAGE */
/* START PORTFOLIO PAGE */
/* START PORTFOLIO PAGE */
/* START PORTFOLIO PAGE */
/* START PORTFOLIO PAGE */

:root {
  --background-color: #2f303a;
}
/* body {                                       
  position: absolute;
  font-style: normal;
}
/* HEADING  */
body > h1,
h2,
h3 {
  text-align: center;
  font-size: 2;
  margin: 0;
  padding: 0;
}


.section .sub-header {
  visibility: hidden;
}
.main-content h1 {
  text-align: center;
  font-size: 2rem;
}
.main-content h2 {
  text-align: center;
  font-size: 2.2;
}
.main-content h3 {
  font-size: 2;
}
/* Helping items */
ul {
  list-style: none;
}
a,
button {
  text-decoration: none;
}
header {
  letter-spacing: 0.02em;
}
main {
  letter-spacing: 0.06em;
}
footer {
  letter-spacing: 0.03em;
}
/* Site header begins */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #404040;
}
.logo .half-1 {
  color: #2196f3;
}
/* Pages color */
.title .title-1 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  transition-property: background-color;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.sub-nav .title .title-2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color:  #2196f3;
}
.item a:hover {
  color: var(--radical-light-color);
}
.item a {
  font-family: Roboto;
  transition-property: color;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 1);

}
/* hidden the bottom */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Add hover, focus and active(dark/blue color) for nav unit */
.sub-nav .title .title-2:focus,
.sub-nav .title .title-2:hover,
.title .title-2:active,
.title .title-1:focus,
.title .title-1:hover,
.title .title-1:active {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.e-mail:hover,
.e-mail:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel:hover,
.tel:focus {
  color: #2196f3;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Main content */
.btn-option::selection {
 color:#212121;
font-family: Roboto, sans-serif; 
font-weight:  500;
font-style: normal;
font-size: 16px; 
line-height: 1,6;
letter-spacing: 0,3;
text-align: center;
transition-property: background-color;
transition-duration: 250ms ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.titles .btn-option {
transition-property: background-color, color;
transition-duration: 250ms ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .button .btn-option {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color:#212121;
  background-color: #F5F4FA;
}
.titles .btn-option::-moz-focus-inner,
.titles .btn-option::-moz-focus-outer {
  border: 0;
} 
.titles .btn-option:hover,
.titles .btn-option:focus {
box-shadow: 0px 2px 2px 0px #00000012;
background-color: var(--radical-light-color);

color: #ffffff;

}

/* background div) */
.titles .btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 94px;
  
}
/* Projects commyuity */
.feature .paper {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.section .feature p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: #757575;
}
/* Text align for portfolio */
.link-to-project .projects-box .paper {
  text-align: start;
}
.link-to-project .projects-box p {
  text-align: start;
  margin-top: 4px;
}
.link-to-project {
  display: block;
}
.link-to-project:hover .hover-card {
  display: block;
  transform: translateY(0);
}
.link-to-project:hover .hover-text {
  transform: translateY(0);
}
/* End main content and footer starting */
.basement {
  background-color: var(--background-color);
  display: flex;
  align-items: baseline;
}
.footer-box {
  width: auto;
  margin-top: 94px;
  background-color: #2F303A;
}
.logotype .web-link {
  color: #2196f3;
}
.basement a {
  color: #212121;
}
.basement .logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footerbox .link-1 .site {
  color: #2196f3;
}
.info .contact-details {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.contact .logotype {
  width:145px;
  max-height: 31px;
}
br {
  display: none;
}
.info .centering {
  display: flex;
  flex-direction: column;
}
.info .link-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.info .web-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.basement .info .no-italic {
  font-style: normal;
}
.title-item {
  margin-left: 93px;
}
*no-italic {
  font-style: normal;
}
.container-1  {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-container {
  margin-top: 94px;
}
.sub-nav-unit .title {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.sub-nav-unit .title:last-child{
  margin-right: 0px;
}
.sub-nav-unit {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 100%;
 
}
.sub-iteam-unit {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  margin-left: auto;
}
.net-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.net-menu .logo {
  display: flex;
  align-items: center;
}

/* Margin for header */
.logo {
  display: flex;
  align-items: center;
}

.title-1 {
 padding-top: 32px;
 padding-bottom: 32px;
}

.sub-iteam-unit .town {
 padding-left: 0;
 padding-right: 50px;
}
.town .list-tel:hover {
  color:var(--radical-light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.town .list-tel:hover svg {
   fill:var(--radical-light-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-iteam-unit li:hover {
  color:var(--radical-light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-iteam-unit li:hover svg {
  fill:var(--radical-light-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button {
padding: 0px;
margin: 0px;
display: flex;
align-items: baseline;
margin-left: auto;
margin-right: auto;
align-items: center;
align-content: center;
justify-content: center;
vertical-align: middle;
margin-bottom: 50px;
}
.btn-option-size-first {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1, 62;
text-align: center;
letter-spacing: 0.03em;
color:#212121;
background-color: #F5F4FA;
border-color:#F5F4FA; 
border-radius: 0px;
width: 73px;
height: 38px;
padding-left: 8px;
vertical-align: middle;
margin-right: 8px;
border: 0;
transition-property: background-color;
transition-duration: 250ms ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-delay: 500ms;

}
.btn-option-size-second {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1, 62;
text-align: center;
letter-spacing: 0.03em;
color:#212121;
background-color: #F5F4FA;
border-color:#F5F4FA; 
border-radius: 0px;
height: 38px;
padding-left: 8px;
margin-right: 8px;
border: 0;
transition-property: background-color;
transition-duration: 250ms ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-delay: 500ms;
}
.btn-option-size-third {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1, 62;
text-align: center;
letter-spacing: 0.03em;
color:#212121;
background-color: #F5F4FA;
border-color:#F5F4FA; 
border-radius: 0px;
width: 145px;
height: 38px;
padding-left: 8px;
margin-right: 8px;
border: 0;
transition-property: background-color;
transition-duration: 250ms ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-delay: 500ms;
}
.btn-option-size-fourth {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1, 62;
text-align: center;
letter-spacing: 0.03em;
color:#212121;
background-color: #F5F4FA;
border-color:#F5F4FA; 
border-radius: 0px;
width: 130px;
height: 38px;
padding-left: 8px;
margin-right: 8px;
border: 0;
transition-property: background-color;
transition-duration: 250ms ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-delay: 500ms;
}
.btn-option-size-fifth {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1, 62;
text-align: center;
letter-spacing: 0.03em;
color:#212121;
background-color: #F5F4FA;
border-color:#F5F4FA; 
border-radius: 0px;
width: 103px;
height: 38px;
padding-left: 8px;
border: 0;
transition-property: background-color;
transition-duration: 250ms ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-delay: 500ms;
}

.list-of-file {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 94px;
}

.projects-box {
  width: 100%;
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
}
.feature {
  margin: 0;
  padding: 0;
  width: 370px;
  height: 404px;
}

.list-of-file .feature > p {
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.list-of-file .feature > h3 {
margin-block-start: 0px;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px; 
}

.list-of-file > .feature {
  list-style-type: none;
  border: 1px solid rgba(238, 238, 238, 1);
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
} 
.list-of-file  .feature:nth-child(3n) {
  margin-right: 0px;
}
.list-of-file  .feature:nth-child(7) {
  margin-bottom: 0px;
}
.list-of-file  .feature:nth-child(8) {
  margin-bottom: 0px;
}
.list-of-file  .feature:nth-child(9) {
  margin-bottom: 0px;
}
.basement > p {
  width: 145px;
  height: 31px;
}
.basement > a {
  width: 231px;
  height: 21px;
}
/* SVG ICONS   FOR      PORTFOLIO */
.container-1 {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.join-there .text-1{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,72; 
text-transform: uppercase;
}

.footer-box .link-to-network {
  display: inline-block;
  background-color: #4241413d;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  list-style:none;
  border-radius: 50%;
  margin-bottom: 30px;

}
.circl {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px; 
}
.join-there .text-1{
text-align: center;
padding: auto;
margin-bottom: 5px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,72; 
text-transform: uppercase;
}
.bottom-list-icon {
  display: flex;
}

/* .backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%,-50%) scale(1.45);
}
.modal {
  min-height: 581px;
  min-width: 528px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-close {
    position: relative;
    top: -555.26px;
    right: -472.01px;
    max-width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
.modal-button-close > svg > use {
    position: absolute;
    width: 11px;
    height: 11px;
}
.close {
  display: block;
  max-width: 11px;
  max-height: 11px;
  color: #212121;
}
/* Continue modal-form */
.form-field {
  display: flex;
  align-items: center;
  
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #303030;
}
/* Open modal form - content */
/* Open modal form - content */
.label {
  margin: 0;
  margin-bottom: 4px;
  padding: 0; 
  margin-left: 0;
}
.form-field {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.form-input {
 position: relative;
 width: 448px; 
 height: 40px;
 border-radius: 4px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 margin-bottom: 10px;
 padding-left: 15px;
}


.first-name { 
top: 0;
left: -224px;
position: relative;
width: 12px;
height: 12px;
display: inline-block;
}

.rotation {
  display: flex;
  margin: 0;
  padding: 0;
  left: 0;
}
/* Phon number */
.label-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0; 
  margin-left: 0;
  padding-right: 15px;
}

.telephon {
top: 0;
left: -224px;
padding-top: 7px;
position: relative;
width: 18px;
height: 18px;
display: inline-block;
}
/*    E mail    */
.mail-value {
top: 0;
left: -224px;
padding-top: 7px;
position: relative;
width: 18px;
height: 18px;
display: inline-block; 
}

.modal p {
  width: 448px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1,1;
  letter-spacing: 0,3;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal-form-message {
width: 448px;
height: 120px;
height: 100px;
padding: 10px;
outline: 0;
resize: none;
border: 1px solid rgba(33, 33, 33, 0.2);
background: #f5f5f5;
line-height: 20px;
margin-bottom: 20px;
}
.customers-checkbox {
  width: 16px;
  height: 15px;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 4px;
}
.form-button {
  margin-left: 141px;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  background-color: var(--sky-blue-bg-color);
  list-style: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.site-nav {
  margin-left: 93px;
}
.site-nav li {
  margin-right: 50px;
}
.site-nav li:last-of-type {
  margin-right: 0px;
}
/* Backlight Pages */
/* Add backlights */
.site-nav .current:after  {
  position: relative;
  top: 23px;
  color: #2196F3;
  cursor: pointer;
  max-width: 48px;
  min-height: 4px;
  margin-left: auto;
  text-decoration: underline;
  bottom: 0;
  content: '';
  background-color:rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: flex-end;
}

 
/* Portfolio hover */
/* Portfolio hover */

.sub-nav  .current:after {
  position: relative;
  top: 27px;
  color: #2196F3;
  background-color: rgba(33, 150, 243, 0.9);
  cursor: pointer;
  max-width: 78px;
  min-height: 4px;
  margin-left: auto;
  text-decoration: underline;
  content: '';
  display: flex;
  align-items: flex-end;
}

.imagine-container{
  position: relative;
  overflow: hidden;

}
.hover-text:hover {
  background: rgba(33, 150, 243, 0.9);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  /* max-height: 168px; */
}

.list-of-file .hover-text .text-p {
  text-align: start;
  max-height: 168px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  overflow-wrap: normal;
  word-break: keep-all;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: 0.02em;
}
.hover-text {
  padding: 63px 24px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: center;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-card {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-text:hover {
  background: rgba(33, 150, 243, 0.9);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
/* Add mail and phone icon */
.e-mail {
position: relative;
}
.list-tel {
position: relative;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail {
position: absolute;
top: 0;
left: -39px;
margin: 0;
padding: 0;
width: 16px;
max-height: 12px;
}
.icon-phone {
top: 0;
left: -20px;
margin: 0;
padding: 0;
position: absolute;
max-width: 10px;
max-height: 16px;
vertical-align: middle;
}

